#about, #credentials, #project{
    transition: all ease-in-out;
    animation: switch 1s;
}

@keyframes switch {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}