#credentials{
    background-color: #ededed;
}

.credential-item{
    border-bottom: 2px solid #ededed;
    width: 65vw;
    padding-bottom: 3vh;
    padding-left: 5vh;
    margin: auto;
    margin-top: 1vw;
}

.credential-title{
    margin: 0px;
    font-size: 1rem;
}

.credential-organization{
    color: #555;
    font-size: 0.9rem;
}

.credential-skills{
    font-size: 0.9rem;
    margin-bottom: 1vh;
}

.credential-button{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}

.credential-button:hover{
    color: #DAA520;
}

.credential-link{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

#completed-credential, #in-progress-credential{
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    width: 80vw;
    height: 95vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 50px;
    overflow-y: scroll;
}

.credential-status{
    padding-left: 8vw;
}

.progress-bar{
    display: inline-block;
    height: 3vh;
    /* border: 1px solid blacak; */
    /* background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,0,1) 100%); */
    border-radius: 10px 0px 0px 10px;
}

.progress-container{
    width: 20vw;
    height: 3.3vh;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid black;
    border-radius: 10px;
}

.button-status{
    margin-bottom: 5vh;
    margin-right: 2vw;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
}

#credential-heading{
    padding-left: 10vw;
    padding-top: 2vh;
}

.button-active{
    transition: background-color, color 0.3s ease;
    background-color: #DAA520;
    color: white;
}