#profile-image{
    transition: all ease-in;
    animation: in-right 1s;
}

@keyframes in-right{

    from{
        transform: translateX(200px);
        opacity: 0.5;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

#profile-about{
    transition: all ease-in;
    animation: in-left 1s;
}

@keyframes in-left{
    from{
        transform: translateX(-200px);
        opacity: 0.5;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}